extends layout
block content
  div#header
    h1 Welcome to MS4S, #{username} 
  hr#header_stripe
  div#wrapper
      div#toppanel
          div#panel
              div#panel_contents
                  h2#info(style="color: white; margin: 50px; text-align: center;") 
                      p IP address: #{inf} 
                      p Username: #{username}                         
                      p Hostname: #{hostname}
  ul.bxslider
      li
        img#cpu(src='/images/pic1.jpg')
      li
        img#ram(src='/images/pic2.jpg')
      li
        img#hard(src='/images/pic3.jpg')

  canvas#canvas(width='50', height='100')

  link(rel='stylesheet', href='/stylesheets/jquery.bxslider.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src="/javascripts/jquery.bxslider.min.js")
  script(src="/javascripts/touchSwipe.min.js")
  script(src="/javascripts/socket.io.js")
  script(src="/javascripts/script.js")
