extends layout
block content
    link(rel='stylesheet', href='/stylesheets/loginstyle.css')
    script(src="/javascripts/login.js")
    script(src='/javascripts/prefixfree.js')

    div.body
    div.grad
        div.header
            div
                | MS
                span 4S
        br
        div.login
            input#username(type='text', placeholder='username', name='user')
            br
            input#password(type='password', placeholder='password', name='password')
            br
            input#LoginButton(type='button', value='Login')

